beautifulsoup4
bert-extractive-summarizer
dvc
flask
flask-cors
flask-RESTful
gensim
markdown
multiprocess
pandas
praw
python-dotenv
pytorch
scipy
scikit-learn
sumy
tabulate
torchvision
tqdm
typing-extensions
transformers
Whoosh